<?xml version="1.0" encoding="utf-8"?>
<ApplicationInsights xmlns="http://schemas.microsoft.com/ApplicationInsights/2013/Settings">
  <!-- This key is for Application Insights resource 'NtefyWeb' in resource group 'Default-ApplicationInsights-CentralUS' -->
  <InstrumentationKey>c62de0af-35b9-47d0-b71f-68092a329578</InstrumentationKey>
</ApplicationInsights>