<?xml version="1.0"?>

<!-- For more information on using Web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator
    finds an attribute "name" that has a value of "MyDB".
-->
    <connectionStrings>
      <add name="DefaultConnection"
        connectionString="Server=tcp:mdw3da3kwm.database.windows.net,1433;Database=ntefyDB;User ID=ntefyadmin@mdw3da3kwm;Password=luftapa*12;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="GoogleAuthId" value="1035738595701-tv5728uvd2aa663i97eetqj89g8e9kik.apps.googleusercontent.com" />
    <add key="GoogleAuthSecret" value="kNmIbZEiDPNTflYT1dXXya8A"/>
    <add key="FacebookAuthId" value="561113424043004"/>
    <add key="FacebookAuthSecret" value="0fff8857c0d0561aeeeecf113577b251"/>
    <add key="InstagramAuthId" value="028c5130716e4b9da5966b25f6297b14"/>
    <add key="InstagramAuthSecret" value="20037734e77c43b09782c259a60b3a8d"/>
    <add key="SpotifyAuthId" value="874bdb81e1154cc99242561541680053"/>
    <add key="SpotifyAuthSecret" value="2f6c0c830a974d25aa105f0c274be37e"/>
    <add key="RedditAuthId" value="nkXgAQRaVyEqVA"/>
    <add key="RedditAuthSecret" value="7q6p5wl6h6plnIFJv_vEAwyoGhE"/>
    <add key="FlickrAuthId" value="a6f23bdb0569f662b5eb6f1dd6a29b46"/>
    <add key="FlickrAuthSecret" value="02b863f61c153ce8"/>
  </appSettings>
  <system.web>
    
    <!--
      In the example below, the "Replace" transform will replace the entire
      <customErrors> section of your Web.config file.
      Note that because there is only one customErrors section under the
      <system.web> node, there is no need to use the "xdt:Locator" attribute.

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>
