@model NtefyEmail.Models.RequestEmail

Content-Type: text/html; charset=utf-8

<html>
<body>
   <h1>Hello</h1>
    <div style="float:left; margin-right: 1em;"><img src="@Model.ImageUrl" /></div>
    <div>
        <p>@Model.Artist - @Model.Title is now available on Spotify.</p>
        <a href="@Model.Url">Listen here</a>
    </div>    
</body>
</html>
